.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 12px;
}

.table ul {
  list-style: none;
  padding-left: 0;
}

.table li + li {
  margin-top: -1px;
}

.cell {
  border: 1px solid #00a9df;
  padding: 0;
}

.cell + .cell {
  border-left: none;
}

.cell--heading {
  grid-column: 2 / -2;
}

.cell--heading .input {
  background: #fffaee;
  font-weight: 700;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 1em;
  outline: none;
  color: #565a5c;
}

.input:focus {
  outline: none;
  background: rgb(242, 242, 242);
}

.highlightFirstRow li:first-child .input {
  color: #00a9df;
  background: #e3f5fd;
  font-weight: 700;
}

.rowDelete,
.colDelete {
  color: rgb(242, 242, 242);
  padding: 0;
  text-align: center;
}

.rowDelete {
  padding-left: 0.5em;
  opacity: 0;
  pointer-events: none;
}

.table li:hover > .rowDelete {
  opacity: 1;
  pointer-events: initial;
}

.colDelete {
  padding-top: 0.5em;
}

.rowDelete > span,
.colDelete > span {
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  width: 1em;
  height: 3px;
  line-height: 1em;
  background: rgb(245, 217, 217);
  align-items: center;
  justify-content: center;
}

.rowDelete > span:hover,
.colDelete > span:hover {
  background: #ff0000;
}
